@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* COLOR PALETTE */
$clr-primary-1: hsl(193, 38%, 86%);
$clr-primary-2: hsl(150, 100%, 66%);
$clr-neutral-1: hsl(217, 19%, 38%);
$clr-neutral-2: hsl(217, 19%, 24%);

/* TYPOGRAPHY */
$fs-quote: 28px;
$font-family: "Manrope";
$font-weight: 800;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $clr-neutral-2;
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
